body {
    text-align: center;
    
    background-color: #5D3119;
}

#app {
    display: inline-block;
    width: 70%;
    margin-top: 10px;
    
    background-color: #76564B;
    
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(107,101,99,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(107,101,99,1);
    box-shadow: 0px 0px 20px 0px rgba(107,101,99,1);
    
    text-align: center;
    color: #C8BABA;
}

#nailBox {
    position: absolute;
    width:inherit;
}

#nail1, #nail2 {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 1px dashed black;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    
    background-color: #5D3119;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(107,101,99,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(107,101,99,1);
    box-shadow: inset 0px 0px 10px 0px rgba(107,101,99,1);
}

#nail1 {
    float: left;
    left: 7px;
}

#nail2 {
    float: right;
    right: 20px;
}

h1 {
    font-size: 37px;
    color: rgba(211, 211, 211, 0.89);
    text-shadow: -1px 1px #ad7bad;
}

img {
    border: 1px solid #3F4440;
    border-radius: 7px;
}

ol {
    padding: 0;
    list-style-type: none;
}

li {
    position: relative;
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
    margin-left: 0;

    background-color: rgba(157, 133, 141, 0.3);
    border: 1px solid #743c49;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(120,63,55,1);
-moz-box-shadow: 0px 0px 3px 1px rgba(120,63,55,1);
box-shadow: 0px 0px 3px 1px rgba(120,63,55,1);
    
    font-family: monospace;
}

li h3 {
    display: inline-block;
    font-size: 17px;
    padding: 15px 0 7px 0;
    border-bottom: 1px solid #743c49;
    width: 70%;
}

li span {
    position: absolute;
    right: 10px;
    top: 3px;
    border: 1px dashed #49414F;
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    float: right;
}

li p {
    font-size: 14px;
    padding: 0 10px;
}

p a {
    text-decoration: none;
    color: antiquewhite;
}

p a:hover {
    color: bisque;
}

@media (max-width: 900px) {
    #nail1, #nail2 {
        width: 25px;
        height: 25px;
    }
    
    h1 {
        margin-top: 45px;
        padding: 0 10px;
        font-size: 30px
    }
    
    img {
        width: 200px;
        height: 200px;
    }
    
    li span {
        display: none;
    }
} 